<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFz7CxSAfaPHR_04ewe2EX5PSuBWJpHIs</string>
	<key>GCM_SENDER_ID</key>
	<string>1095355106007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceCloneApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-5eed4</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-5eed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095355106007:ios:66b989cba8e562d30f6692</string>
</dict>
</plist>